DB_HOST=autopatcher-db.c722ka2euqng.ap-southeast-2.rds.amazonaws.com
DB_NAME=postgres
DB_USER=postgres
DB_PASS=actual_password
DB_PORT=5432

DATABASE_URL=postgresql+psycopg2://postgres:actual_password@autopatcher-db.c722ka2euqng.ap-southeast-2.rds.amazonaws.com:5432/postgres
